* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

h1 {
  color: white;
  font-size: 4rem;
  font-family: serif;
  text-align: center;
  line-height: 100vh;
}

span {
  opacity: 0;
  transition: all 1s ease;
  transform: translateY(-50px);
  display: inline-block;
}

span.fade {
  opacity: 1;
  transform: translateY(0px);
}